/*  ##################################################
                Global/Main SCSS Styling
    ################################################## */

/*
  ||  Import Style Files
*/
@import '_reset';

/*
  || Apply Dark Theme by Default
*/
:root {
  color-scheme: dark;
}

/*
  || Apply Scroll bar settings
*/
* {
  scrollbar-gutter: stable;
}


/*
  || Container and Wrappers
*/
.app-container {
  // --max-width: 1600px;
  // --padding: 1rem;
  // width: min(var(--max-width), 100% - (var(--padding) * 2));

  width: 100%;
  margin-inline: auto;

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}